{% load timer_tags %}
<div class="accordion-group">

  <div class="accordion-heading">
    <div class="row">
      <div class="span12">
        <a href="#accordion_category_{{ cat.id }}" class="accordion-toggle"
            data-toggle="collapse" data-parent="accordion{{ cat.id }}">
          {{ cat.name }}
        </a>
      </div>
    </div>
  </div>

  <div id="accordion_category_{{ cat.id }}" class="accordion-body collapse in">
    <div class="accordion-inner">
    {% if cat.category_set.all %}
      <div class="accordion" id="accordion{{ cat.id }}">
      {% with template_name='timers/listing.html' %}
        {% for subcat in cat.category_set.all %}
          {% include template_name with cat=subcat %}
        {% endfor %}
      {% endwith %}
      </div>
    {% endif %}
    {% for timer in cat.timer_set.all %}
      <div class="row">
        <div class="span12">
          <a href="{% url 'timer' id=timer.id %}">{{ timer.name }}</a>
          <form method="post" action="{% url 'startstop' id=timer.id %}"
              class="form-inline startstop-form pull-right">
            {% csrf_token %}
            {% if timer.active %}
              <button class="btn btn-danger" id="startstop_{{ timer.id }}">
                Stop
              </button>
            {% else %}
              <button class="btn btn-success" id="startstop_{{ timer.id }}">
                Start
              </button>
            {% endif %}
          </form>
        </div>
      </div>
    {% empty %}
      <div class="row">
        <div class="span12">
          You haven't created any timers in this category.
        </div>
      </div>
    {% endfor %}
      <div class="row">
        <div class="span12">
          <form id="new_timer_{{ cat.id }}" method="post" class="form-inline"
              action="{% url 'new_timer' %}">
            {% csrf_token %}
            <input type="hidden" name="category_id" value="{{ cat.id }}" />
            <label for="timer_name_{{ cat.id }}" aria-hidden="true"
                class="accessibility">Timer name</label>
            <input type="text" name="timer_name" id="timer_name_{{ cat.id }}"
                class="input input-medium" placeholder="Name" required>
            <button type="submit" class="btn btn-primary" id="new_timer_btn">
              Create
            </button>
          </form>
        </div>
      </div>
    </div> <!-- .accordion-inner -->
  </div> <!-- .accordion-body -->

</div>
