{% extends 'base.html' %}
{% load staticfiles %}

{% block static_content %}
<script src="{% static 'timers/timers.js' %}"></script>
{% endblock %}

{% block arzeit_content %}

<div>
    <button class="btn btn-small" id="toggle_all">Show All</button>
</div>
{% for cat in root_categories %}
    <div class="accordion" id="accordion{{ cat.id }}">
        {% include 'timers/listing.html' %}
    </div>
{% endfor %}

{% comment %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Last Week</th>
            <th scope="col">Today</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for cat in categories %}
        <tr class="category_row" id="category_{{ cat.id }}">
            <th scope="row">
                <a href="{% url 'category' id=cat.id %}">{{ cat.name }}<a/>
            </th>
            <td>{{ cat.last_week }}</td>
            <td>{{ cat.today }}</td>
            <td>
                <button class="btn btn-small hide-btn">Hide</button>
                <form method="post" action="{% url 'delete_category' id=cat.id %}"
                      class="delete_category_form">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
            {% for timer in cat.timer_set.all %}
            <tr id="timer_row_{{ timer.id }}" class="timer_row category_{{ cat.id }}">
                <th scope="row">
                    <a href="{% url 'timer' id=timer.id %}">{{ timer.name }}</a>
                </th>
                <td>{{ timer.last_week }}</td>
                <td>{{ timer.today }}</td>
                <td>
                    <form method="post" action="{% url 'startstop' id=timer.id %}" class="startstop_form">
                        {% csrf_token %}
                        <button class="btn btn-primary" id="startstop_{{ timer.id }}">
                            {% if timer.active %}
                                Stop
                            {% else %}
                                Start
                            {% endif %}
                        </button>
                    </form>
                    <form method="post" action="{% url 'delete_timer' id=timer.id %}"
                          class="delete_timer_form">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr class="timer_row category_{{ cat.id }}">
                <td colspan="4">
                    There are no timers in this category.
                </td>
            </tr>
            {% endfor %}
        <tr class="add_timer_row category_{{ cat.id }}">
            <td colspan="4">
                <form id="new_timer_{{ cat.id }}" method="post" action="{% url 'new_timer' %}">
                    {% csrf_token %}
                    <label for="timer_name">New timer</label>
                    <input type="hidden" name="category_id" value="{{ cat.id }}" />
                    <input type="text" name="timer_name" class="input input-medium" />
                    <button type="submit" class="btn btn-primary" id="new_timer_btn">
                        Create
                    </button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">
                You haven't created any categories.
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endcomment %}

{% endblock %}
