.interval-container {
    position: relative;
    margin-top: 10px;
}

.interval {
    position: absolute;
    width: 95%;
    text-align: center;
    border: 1px solid green;
    border-radius: 5px;
    overflow: hidden;
}

.interval-header {
    font-weight: bold;
    font-size: 1.2em;
}

.time-cell {
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-radius: 0px;
}

.current-time {
    border: 2px solid blue;
}

.interval-start {
    position: absolute;
    top: 1px;
    left: 1px;
    text-align: left;
}

.interval-details {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}

.interval-end {
    position: absolute;
    bottom: 1px;
    right: 1px;
    text-align: right;
}
