<form method="post" action="{% url 'login' %}" class="form-inline" id="login_form">
    {% csrf_token %}
    <label for="email" aria-hidden="true" class="accessibility">Email</label>
    <input type="text" name="email" id="email" placeholder="email" />
    <label for="username" aria-hidden="true" class="accessibility">Password</label>
    <input type="password" name="password" id="password" placeholder="password"/>
    {% if next_url %}
    <input type="hidden" name="next_url" value="{{ next_url }}" />
    {% endif %}
    <button type="submit" class="btn btn-primary">Login</button>
</form>
