<div id="login_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      &times;
    </button>
    <h2>Login</h2>
  </div>
  <div class="modal-body">
    {% include 'account/login_form.html' with id=2%}
  </div>
  <div class="modal-footer">
  </div>
</div>

<script type="text/javascript">
$('#login_modal').on('shown', function(){
    $(this).find('.modal-body input[type="text"]').first().focus();
});
</script>
