<div id="new_account" class="modal hide fade">
    <form method="post" action="{% url 'new_account' %}" id="new_account_form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h2>Sign Up</h2>
        </div>
        <div class="modal-body">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="input" />
            <label for="name">Email</label>
            <input type="text" name="email" id="email" class="input" />
            <label for="name">Password</label>
            <input type="password" name="password" id="password" class="input" />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn close" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>
