<form method="post" action="{% url 'new_account' %}" class="form" id="new_account_form">
    {% csrf_token %}
    <label for="name" class="accessibility">Name</label>
    <input type="text" name="name" id="name" placeholder="name" />
    <label for="name" class="accessibility">Email</label>
    <input type="text" name="email" id="email" placeholder="email" />
    <label for="name" class="accessibility">Password</label>
    <input type="password" name="password" id="password" placeholder="password" />
</form>
