<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ArZeit</title>
    <link rel="stylesheet"
        href="{% static 'djarzeit/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'djarzeit/base.css' %}">
  </head>

  <body>
    <div class="container">
      <div id="arzeit-header">
          {% include 'header.html' %}
      </div> <!-- #arzeit-header -->
      {% if user.is_authenticated %}
      <div class="row" id="arzeit-nav">
        <div class="col-xs-12">
          <ul class="nav nav-tabs">
          {% for tab in TABS %}
            <li {% if tab == active_tab %}class="active"{% endif %}>
              <a href="{% url tab %}">{{ tab|title }}</a>
            </li>
          {% endfor %}
          </ul>
        </div> <!-- .col-xs-12 -->
      </div> <!-- #arzeit-nav -->
      {% endif %}
      <div class="row" id="arzeit-content">
        <div class="col-xs-12">
          {% block arzeit_content %}
          {% endblock %}
        </div> <!-- .col-xs-12 -->
      </div> <!-- #arzeit-content -->
    </div> <!-- .container -->
    <script src="{% static 'djarzeit/jquery-2.0.2.min.js' %}"></script>
    <script src="{% static 'djarzeit/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'djarzeit/base.js' %}"></script>
    {% block static_content %}
    {% endblock %}
  </body>

</html>
