{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ArZeit</title>

        <script src="{% static 'djarzeit/jquery-2.0.2.min.js' %}"></script>
        <script src="{% static 'djarzeit/bootstrap/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'djarzeit/bootstrap/css/bootstrap.min.css' %}">

        {% block static_content %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <h1>ArZeit!</h1>
            <p>
                Last response at
                <span id="server_time"></span>
            </p>

            <div id="messages">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            {% block arzeit_content %}
            {% endblock %}

        </div>
    </body>
</html>
