<div class="row">
    <div class="span5">
        <h1>ArZeit!</h1>
    </div>
    <div class="span7 text-right">
    {% if user.is_authenticated %}
        <a href="#account_info" role="button" data-toggle="modal">{{ user.username }}</a>
        |
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="#login" role="button" data-toggle="modal">Login</a>
        |
        <a href="#new_account" role="button" data-toggle="modal">Sign Up</a>
    {% endif %}
    </div>
</div> <!-- .row -->

{% if user.is_authenticated %}
    {% include 'account/account_modal.html' %}
{% else %}
    {% include 'account/login_modal.html' %}
    {% include 'account/new_modal.html' %}
{% endif %}

<div class="row">
    <div class="span5">
        Last updated at
        <span id="server_time">{{ server_time }}</span>
    </div>
    <div class="span7 text-right">
        {% for timer in active_timers %}
        Current: {{ timer.name }}
        {% endfor %}
    </div>
</div> <!-- .row -->

<div class="row" id="messages">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div> <!-- .row -->
