<div class="row">
    <div class="span1">
        <h1>ArZeit!</h1>
    </div>
    <div class="offset8 span3 text-right">
    {% if user.is_authenticated %}
        <a href="#account_info" role="button" data-toggle="modal">{{ user.username }}</a>
        |
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="#new_account" role="button" data-toggle="modal">Sign Up</a>
        |
        <a href="#login_modal" role="button" data-toggle="modal">Login</a>
    {% endif %}
    </div>
</div> <!-- .row -->

{% if user.is_authenticated %}
    {% include 'account/account_modal.html' %}
{% else %}
    {% include 'account/login_modal.html' %}
    {% include 'account/new_modal.html' %}
{% endif %}

<div class="row">
    <div class="span5">
        Last updated at
        <span id="server_time">{{ server_time }}</span>
    </div>
    <div class="span7 text-right">
        {% for timer in active_timers %}
        Current: {{ timer.name }}
        {% endfor %}
    </div>
</div> <!-- .row -->

<div class="row" id="messages">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div> <!-- .row -->
