<div class="row">
  <div class="col-xs-12">
    <div class="pull-left">
      <h1>ArZeit!</h1>
    </div>
    <div class="pull-right" id="arzeit-account-controls">
    {% if user.is_authenticated %}
      {% include 'account/account_modal.html' %}
      <a href="#account_info" role="button" data-toggle="modal">
        {{ user.username }}
      </a>
      |
      <a href="{% url 'logout' %}">Logout</a>
    {% endif %}
    </div>
  </div> <!-- .col-xs-12 -->
</div> <!-- .row -->

<div class="row">
  <div class="col-xs-12">
    <span class="pull-left">
      <span id="server_time">{{ server_time }}</span>
    </span>
  {% if user.is_authenticated %}
    {% for timer in active_timers %}
      {# doing this for-loop up here to let spaceless work down below #}
      {% include 'timers/timer_modal.html' with timer=timer %}
    {% endfor %}
    <span class="pull-right">
      Active:
      {% spaceless %}
        {% for timer in active_timers %}
          {% if forloop.counter0 > 0 %}
            <span>, </span>
          {% endif %}
          <a href="#" data-toggle="modal"
              data-target="#timer_detail_{{ timer.id }}"
            >{{ timer.name }}</a>
        {% empty %}
          (none)
        {% endfor %}
      {% endspaceless %}
    </span>
  {% endif %}
  </div> <!-- .col-xs-12 -->
</div> <!-- .row -->

<div class="row" id="messages">
  <div class="col-xs-12">
  {% if messages %}
    <div class="messages">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
      </div>
    {% endfor %}
    </div>
  {% endif %}
  </div> <!-- .col-xs-12 -->
</div> <!-- #messages -->
