{% extends 'base.html' %}

{% block arzeit_content %}

{% for cat in root_categories %}
  <div class="tree well">
    <ul>
      {% include 'categories/listing.html' with cat=cat %}
    </ul>
  </div>
{% empty %}
  <div class="well">
    <div class="row">
      <div class="col-xs-12">
        You haven't created any root categories.
      </div>
    </div>
  </div>
{% endfor %}

<hr>

{% include 'categories/new_modal.html' with cat=FAKE_ROOT_PARENT %}
<button type="button" class="btn btn-md btn-primary" data-toggle="modal"
    data-target="#new_category_{{ FAKE_ROOT_PARENT.id }}">
  Create new root category
</button>

{% endblock arzeit_content %}
