<div class="well">
  <div class="row">
    <div class="col-xs-3">
      {{ cat.name }}
    </div>
    <div class="col-xs-6">
      {{ cat.description }}
    </div>
    <div class="col-xs-1">
      <a href="#">
        <i class="icon-pencil"></i>
      </a>
      <a href="#delete_category_{{ cat.id }}" data-toggle="modal">
        <i class="icon-remove"></i>
      </a>
    </div>
  </div>
  {% if cat.category_set.all %}
    {% with template_name='categories/listing.html' %}
      {% for subcat in cat.category_set.all %}
        {% include template_name with cat=subcat %}
      {% endfor %}
    {% endwith %}
  {% endif %}
  <div class="row">
    <div class="col-xs-12">
      <a href="#new_category_{{ cat.id }}" data-toggle="modal">
        Add sub-category
      </a>
    </div>
  </div>
</div>
{% include 'categories/new_modal.html' with parent_id=cat.id %}
{% include 'categories/delete_modal.html' with cat_id=cat.id %}
