{% include 'categories/new_modal.html' with cat=cat %}
{% include 'categories/delete_modal.html' with cat=cat %}

<li>
  <span>
    <i class="glyphicon glyphicon-folder-open"></i>
    {{ cat.name }}
  </span>
  <button type="button" class="btn btn-xs" data-toggle="modal"
      data-target="#new_category_{{ cat.id }}">
    <i class="glyphicon glyphicon-plus"></i>
  </button>
  <button type="button" class="btn btn-xs" data-toggle="modal"
      data-target="#delete_category_{{ cat.id }}">
    <i class="glyphicon glyphicon-remove"></i>
  </button>

{% if cat.category_set.all %}
  <ul>
  {# Avoid run-away recursion problem by using "with" for the template name #}
  {% with template_name='categories/listing.html' %}
    {% for subcat in cat.category_set.all %}
      {% include template_name with cat=subcat %}
    {% endfor %}
  {% endwith %}
  </ul>
{% endif %}

</li>
