.panel-body th:last-child {
    text-align: right;
}

.panel-body td:last-child:not([colspan]) {
    text-align: right;
}

.panel-heading {
    cursor: pointer;
}

.panel-body {
    padding-right: 0px;
}

.table-sub-header {
    text-align: center;
}
