{% load timer_tags %}

<div class="panel-heading">
  <span class="panel-title">
    <div class="row">
      <div class="col-xs-5">
        {{ cat.name }}
      </div>
      <div class="col-xs-4">
        {{ cat.today|format_timedelta }}
      </div>
      <div class="col-xs-3 text-right" data-toggle="add_timer"
          data-target="#add_new_timer_in_{{ cat.id }}">
        <i class="glyphicon glyphicon-plus"></i>
      </div>
    </div>
  </span>
</div> <!-- .panel-heading -->

<div class="panel-body" class="panel-collapse in">
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="col-xs-5">Timer</th>
        <th scope="col" class="col-xs-4">Today</th>
        <th scope="col" class="col-xs-3">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for timer in cat.timer_set.all %}
      <tr id="timer_{{ timer.id }}"
          {% if timer.active %}class="active"{% endif %}>
        <td>
          {% include 'timers/timer_modals.html' with timer=timer %}
          {{ timer.name }}
        </td>
        <td>
          {{ timer.today|format_timedelta }}
        </td>
        <td>
          <form method="post" action="{% url 'startstop' timer_id=timer.id %}"
              class="form-inline startstop-form">
            {% csrf_token %}
            <div class="btn-group">
            {% if timer.active %}
              <button type="submit" class="btn btn-danger"
                  id="startstop_{{ timer.id }}">
                Stop
              </button>
              <button type="button" class="btn btn-danger dropdown-toggle"
                  data-toggle="dropdown">
                <span class="caret"></span>
                <span class="accessibility">Toggle Dropdown</span>
              </button>
            {% else %}
              <button type="submit" class="btn btn-success"
                  id="startstop_{{ timer.id }}">
                Start
              </button>
              <button type="button" class="btn btn-success dropdown-toggle"
                  data-toggle="dropdown">
                <span class="caret"></span>
                <span class="accessibility">Toggle Dropdown</span>
              </button>
            {% endif %}
              <ul class="dropdown-menu pull-right" role="menu">
                <li>
                  <a href="#" data-toggle="modal"
                      data-target="#timer_history_{{ timer.id }}">
                    View history
                  </a>
                </li>
                <li>
                  <a href="#" data-toggle="modal"
                      data-target="#timer_edit_{{ timer.id }}">
                    Edit details
                  </a>
                </li>
                <li class="divider"></li>
                <li><a href="#">Archive this timer</a></li>
                <li><a href="#">Delete this timer</a></li>
              </ul>
            </div>
          </form>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="4">
          You haven't created any timers in this category.
        </td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot class="hide" id="add_new_timer_in_{{ cat.id }}">
      <tr>
        <td colspan="4">
          <form id="new_timer_{{ cat.id }}" method="post" class="form-inline"
              action="{% url 'new_timer' %}">
            {% csrf_token %}
            <input type="hidden" name="category_id" value="{{ cat.id }}" />
            <div class="input-group">
              <label for="timer_name_{{ cat.id }}" aria-hidden="true"
                  class="accessibility">Timer name</label>
              <input type="text" name="timer_name" id="timer_name_{{ cat.id }}"
                  class="form-control" placeholder="new {{ cat.name }} timer..." required>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" id="new_timer_btn">
                  Create
                </button>
              </span>
            </div>
          </form>
        </td>
      </tr>
    </tfoot>
  </table>

  {% if cat.category_set.all %}
    {# Avoid run-away recursion problem by using "with" for the template name #}
    {% with template_name='timers/listing.html' %}
      {% for subcat in cat.category_set.all %}
        <div class="panel panel-default" id="timers_for_{{ subcat.id }}">
          {% include template_name with cat=subcat %}
        </div>
      {% endfor %}
    {% endwith %}
  {% endif %}

</div> <!-- .panel-body -->
