{% load timer_tags %}

<div class="panel-heading">
  <h3 class="panel-title">
    {{ cat.name }}
    <span class="pull-right">
      Total today: {{ cat.today|format_timedelta }}
    </span>
  </h3>
</div> <!-- .panel-heading -->

<div class="panel-body">
  
  {% if cat.category_set.all %}
    {# Avoid run-away recursion problem by using "with" for the template name #}
    {% with template_name='timers/listing.html' %}
      {% for subcat in cat.category_set.all %}
        <div class="panel panel-default" id="timers_for_{{ subcat.id }}">
          {% include template_name with cat=subcat %}
        </div>
      {% endfor %}
    {% endwith %}
  {% endif %}

  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="col-xs-7">Timer</th>
        <th scope="col" class="col-xs-3">Time Today</th>
        <th scope="col" class="col-xs-2">Start/Stop</th>
      </tr>
    </thead>
    <tbody>
    {% for timer in cat.timer_set.all %}
      <tr{% if timer.active %} class="active"{% endif %}>
        <td>
          <a href="{% url 'timer' id=timer.id %}">{{ timer.name }}</a>
        </td>
        <td>
          {{ timer.today|format_timedelta }}
        </td>
        <td>
          <form method="post" action="{% url 'startstop' id=timer.id %}"
              class="form-inline startstop-form">
            {% csrf_token %}
            {% if timer.active %}
              <button type="submit" class="btn btn-danger"
                  id="startstop_{{ timer.id }}">
                Stop
              </button>
            {% else %}
              <button type="submit" class="btn btn-success"
                  id="startstop_{{ timer.id }}">
                Start
              </button>
            {% endif %}
          </form>
        </td>
      </tr>
    {% empty %}
      <tr colspan="3">
        <td>
          You haven't created any timers in this category.
        </td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot></tfoot>
  </table>

</div> <!-- .panel-body -->

<div class="panel-footer">
  <form id="new_timer_{{ cat.id }}" method="post" class="form-inline"
      action="{% url 'new_timer' %}">
    {% csrf_token %}
    <input type="hidden" name="category_id" value="{{ cat.id }}" />
    <div class="input-group">
      <label for="timer_name_{{ cat.id }}" aria-hidden="true"
          class="accessibility">Timer name</label>
      <input type="text" name="timer_name" id="timer_name_{{ cat.id }}"
          class="form-control" placeholder="new {{ cat.name }} timer..." required>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" id="new_timer_btn">
          Create
        </button>
      </span>
    </div>
  </form>
</div>
