{% load timer_tags %}

<div class="panel-heading" data-toggle="collapse" data-target="#cat-body-{{ cat.id }}">
  <div class="panel-title">
    <div class="row">
      <div class="col-xs-7 col-md-5">
        {{ cat.name }}
      </div>
      <div class="col-xs-5 col-md-7">
        {{ cat.today|format_timedelta }}
      </div>
    </div>
  </div>
</div> <!-- .panel-heading -->

<div class="panel-body panel-collapse collapse in" id="cat-body-{{ cat.id }}">

  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="col-xs-7 col-md-5">Timer</th>
        <th scope="col" class="hidden-xs col-md-3">Today</th>
        <th scope="col" class="col-xs-5 col-md-4">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for timer in cat.unarchived_timers %}
      <tr id="timer_{{ timer.id }}"
          {% if timer.active %}class="active"{% endif %}>
        <td class="col-xs-7 col-md-5">
          {% include 'timers/modals.html' with timer=timer %}
          {{ timer.name }}
        </td>
        <td class="hidden-xs col-md-3">
          {{ timer.today|format_timedelta }}
        </td>
        <td class="col-xs-5 col-md-4">
          <form method="post" action="{% url 'startstop' timer_id=timer.id %}"
              class="form-inline startstop-form">
            {% csrf_token %}
            <div class="btn-group">
            {% if timer.active %}
              <button type="submit" class="btn btn-danger"
                  id="startstop_{{ timer.id }}">
                Stop
              </button>
              <button type="button" class="btn btn-danger dropdown-toggle"
                  data-toggle="dropdown">
                <span class="caret"></span>
                <span class="accessibility">Toggle Dropdown</span>
              </button>
            {% else %}
              <button type="submit" class="btn btn-success"
                  id="startstop_{{ timer.id }}">
                Start
              </button>
              <button type="button" class="btn btn-success dropdown-toggle"
                  data-toggle="dropdown">
                <span class="caret"></span>
                <span class="accessibility">Toggle Dropdown</span>
              </button>
            {% endif %}
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li>
                  <a href="#" data-toggle="modal"
                      id="timer_history_label_{{ timer.id }}"
                      data-target="#timer_history_{{ timer.id }}">
                    View history
                  </a>
                </li>
                <li>
                  <a href="#" data-toggle="modal"
                      id="timer_edit_label_{{ timer.id }}"
                      data-target="#timer_edit_{{ timer.id }}">
                    Edit details
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#" data-toggle="modal"
                      id="timer_archive_label_{{ timer.id }}"
                      data-target="#timer_archive_{{ timer.id }}">
                    Archive this timer
                  </a>
                </li>
                <li>
                  <a href="#" data-toggle="modal"
                      id="timer_delete_label_{{ timer.id }}"
                      data-target="#timer_delete_{{ timer.id }}">
                    Delete this timer
                  </a>
                </li>
              </ul>
            </div>
          </form>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="3">
          You haven't created any timers in this category.
        </td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    {% with n_archived=cat.archived_timers.count %}
      {% if n_archived > 0 %}
        <tr>
          <td colspan="3">
              {% include 'categories/archived_timers_modal.html' with cat=cat %}
              Not showing
              <a href="#" data-toggle="modal"
                  data-target="#archived_timers_{{ cat.id }}">
                {{ n_archived }} archived timer{{ n_archived|pluralize }}.
              </a>
          </td>
        </tr>
      {% endif %}
    {% endwith %}
      <tr id="add_new_timer_in_{{ cat.id }}">
        <td colspan="3">
          <form id="new_timer_{{ cat.id }}" method="post" class="form-inline"
              action="{% url 'new_timer' category_id=cat.id %}">
            {% csrf_token %}
            <div class="input-group">
              <label for="timer_name_{{ cat.id }}" aria-hidden="true"
                  class="accessibility">Timer name</label>
              <input type="text" name="timer_name" id="timer_name_{{ cat.id }}"
                  class="form-control" placeholder="new {{ cat.name }} timer..."
                  required>
              <div class="input-group-btn">
                <button type="submit" class="btn btn-primary"
                    name="create-action" value="create">
                  Create
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle"
                    data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="accessibility">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li>
                    <a href="#" class="create-timer-and-more">
                      Create and Start
                    </a>
                    <button type="submit" class="accessibility"
                        name="create-action" value="start">
                      Create and Start
                    </button>
                  </li>
                  <li>
                    <a href="#" class="create-timer-and-more">
                      Create and Archive
                    </a>
                    <button type="submit" class="accessibility"
                        name="create-action" value="archive">
                      Create and Archive
                    </button>
                  </li>
                </ul>
              </div> <!-- .input-group-btn -->
            </div> <!-- .input-group -->
          </form>
        </td>
      </tr>
    </tfoot>
  </table>

  {% if cat.category_set.all %}
    {# Avoid run-away recursion problem by using "with" for the template name #}
    {% with template_name='timers/listing.html' %}
      {% for subcat in cat.category_set.all %}
        <div class="panel panel-default" id="timers_for_{{ subcat.id }}">
          {% include template_name with cat=subcat %}
        </div>
      {% endfor %}
    {% endwith %}
  {% endif %}

</div> <!-- .panel-body -->

