{% extends 'base.html' %}

{% block arzeit_content %}

{% for cat in root_categories %}
  <div class="panel panel-default root-category-panel" id="timers_for_{{ cat.id }}">
    {% include 'timers/listing.html' %}
  </div>
{% empty %}
  <div class="well">
    <div class="row">
      <div class="col-xs-12">
        You haven't created any root categories in which to create timers.
        You may create root categories in the Categories tab.
      </div>
    </div>
  </div>
{% endfor %}

{% endblock arzeit_content %}
